/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --body-font: "Quicksand", sans-serif;
  --normal-font-size: 1rem;

  --white: #ffffff;
  --light-tan: #ffe9b5;
  --dark-purple: #73324a;
  --yellow-orange: #f2af5c;
  --orange: #f2884b;
  --red-orange: #f27457;
  --light-red-orange: #faa177;
  --light-blue: #4bd2f2;
  --blue: #30a1ba;
  --blue2: #1ba6b0;
  --dark-blue: #1d5f6e;
  --dark-grey: #212529;
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  background-image: url(images/bg-image.jpg);
  background-attachment: fixed;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

.main-page {
  display: grid;
  justify-content: center;
}

.section-title {
  position: relative;
  font-size: 60px;
  font-weight: 900;
  color: var(--dark-purple);
  margin-top: 0.5rem;
  text-align: center;
}

a:link {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .section-title {
    font-size: 40px;
  }
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  margin: 3rem 1rem;
  border-radius: 50px;
  background-color: var(--light-tan);
}

.left-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

.row {
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .bd-grid {
    max-width: 390px;
  }
}

@media only screen and (min-width: 600px) {
  .bd-grid {
    max-width: 575px;
  }
}

@media only screen and (min-width: 992px) {
  .bd-grid {
    max-width: 920px;
  }
}

/*===== NAV =====*/
.navbar {
  height: 4rem;
  display: flex;
  align-items: center;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}

.navbar-brand {
  padding-left: 20px;
}

.btn-navbar-toggler-style:hover {
  background: rgba(0, 0, 0, 0.1);
}

.navbar-collapse.collapsing,
.navbar-collapse.show {
  text-align: right;
  background-color: var(--dark-grey);
}

.navbar-collapse.collapse {
  margin-left: 0;
}

@media only screen and (max-width: 600px) {
  .navbar-brand {
    font-size: 14px;
  }

  .navbar-collapse,
  .navbar-collapse.collapse {
    margin-left: 19rem;
  }
}

@media only screen and (min-width: 600px) {
  .navbar-brand {
    font-size: 16px;
  }

  .navbar-collapse,
  .navbar-collapse.collapse {
    margin-left: 40rem;
  }
}

@media only screen and (min-width: 992px) {
  .navbar-brand {
    font-size: 20px;
  }

  .navbar-collapse.collapse {
    margin-left: 0;
  }
}

/*===== HOME =====*/
.home {
  position: relative;
  padding: 5rem 4rem;
  margin-top: 5rem;
}

.home-title {
  color: var(--dark-purple);
  margin-bottom: 2.5rem;
  width: 400px;
}

.hello-title {
  font-size: 50px;
  font-weight: 600;
}

.hello-subtitle {
  font-weight: 500;
}

.home-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-img-size {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .home-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* ===== ABOUT =====*/
.about {
  position: relative;
  padding: 2rem 4rem;
}

.about-container {
  display: flex;
  align-items: center;
}

#about-title {
  margin-bottom: 1rem;
}

.about-text-container {
  padding-left: 0.5rem;
  text-align: left;
  font-size: 15px;
  font-weight: 500;
}

#about-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-img-size {
  border-radius: 50px;
}

@media only screen and (max-width: 600px) {
  .about {
    padding: 2rem 2.5rem;
  }

  .about-container {
    display: flex;
    flex-direction: column;
  }

  .about-text-container {
    padding-left: 0;
  }

  .about-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about-img-size {
    width: 75%;
    height: 75%;
  }
}

@media only screen and (min-width: 600px) {
  .about {
    padding: 2rem 2.5rem;
  }

  .about-container {
    display: flex;
    flex-direction: column;
  }

  .about-text-container {
    padding-left: 0;
  }

  .about-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about-img-size {
    width: 90%;
    height: 90%;
  }
}

/* ===== Experience =====*/
.skills {
  position: relative;
  padding: 2rem 4rem 3rem;
}

#exp-title {
  margin-bottom: 2rem;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flip-card {
  background-color: transparent;
  width: 500px;
  height: 500px;
  margin-bottom: 30px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 500px;
  height: 500px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(-180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: transparent;
  color: black;
}

.flip-card-back {
  background-color: var(--dark-blue);
  color: var(--light-tan);
  transform: rotateY(-180deg);
}

.skills-img-size {
  width: 500px;
  height: 500px;
  border-radius: 50px;
}

.skills-title {
  margin-top: 2.5rem;
  color: var(--light-red-orange);
  font-weight: 700;
}

.pl-title,
.courses-title {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: var(--light-red-orange);
  font-weight: 700;
}

.skills-text-container {
  padding-left: 5rem;
  font-size: 24px;
  font-weight: 500;
  margin-top: 2.5rem;
  text-align: left;
}

.pl-text-container {
  padding-left: 9rem;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
}

.courses-text-container {
  padding-left: 0.5rem;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
}

li::marker {
  color: var(--red-orange);
}

.skills-list-item,
.pl-list-item,
.c-list-item {
  margin-bottom: 15px;
}

.list-text {
  position: relative;
  left: 14px;
}

@media only screen and (max-width: 600px) {
  .flip-card,
  .flip-card-inner,
  .skills-img-size {
    width: 350px;
    height: 350px;
  }

  .skills-title,
  .pl-title,
  .courses-title {
    font-size: 24px;
  }

  .skills-text-container {
    padding-left: 2rem;
    font-size: 20px;
  }

  .pl-text-container {
    padding-left: 6rem;
    font-size: 18px;
  }

  .pl-list-item {
    margin-bottom: 5px;
  }

  .courses-text-container {
    padding-left: 0.1rem;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
  }

  .c-list-item {
    margin-bottom: 5px;
  }
}

/* ===== PROJECTS =====*/
.projects {
  position: relative;
  padding: 2rem 4rem 3rem;
  height: 575px;
}

.projects-parent-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-container {
  position: relative;
  width: 1024px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 30px;
}

.projects-container .card {
  position: relative;
  max-width: 300px;
  height: 175px;
  background-color: var(--dark-purple);
  margin: 30px 10px;
  padding: 20px 15px;

  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
  border-radius: 15px;
}

.projects-container .card:hover {
  height: 320px;
}

.projects-container .card .card-title-container {
  position: relative;
  width: 267px;
  height: 260px;
  border-radius: 15px;
  text-align: center;
  padding: 25px 15px;
  background-color: var(--yellow-orange);

  top: -40%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.card-title {
  font-size: 40px;
  font-weight: 700;
  color: var(--dark-blue);
}

.card-title:hover {
  color: var(--dark-purple);
  text-decoration: none;
}

.projects-container .card .card-text-container {
  position: relative;
  top: -140px;
  padding: 10px 15px;
  color: var(--light-tan);
  text-align: center;

  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.projects-container .card:hover .card-text-container {
  margin-top: 50px;
  font-size: 16px;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}

@media only screen and (max-width: 600px) {
  .projects,
  .projects-parent-container {
    height: 830px;
  }

  .projects-container {
    width: 350px;
    height: 700px;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .projects-container .card {
    margin: 10px;
  }

  #card1 {
    margin-bottom: 70px;
  }
}

@media only screen and (min-width: 600px) {
  .projects,
  .projects-parent-container {
    height: 850px;
  }

  .projects-container {
    width: 350px;
    height: 850px;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .projects-container .card {
    margin: 10px;
  }

  #card2 {
    margin-bottom: 60px;
  }
}

/* ===== CONTACT =====*/
.contact {
  position: relative;
  padding: 2rem 4rem 3rem;
}

#contact-title {
  margin-bottom: 2rem;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  border: 2px solid var(--blue);
  border-radius: 1rem;
  padding: 2rem;
  background-color: var(--light-red-orange);
}

input,
.message-box {
  background-color: var(--light-tan);
  border: 1px solid var(--blue);
  border-radius: 0.5rem;
}

.input-element {
  display: block;
  width: 80%;
  height: 30px;
  float: right;
}

.radios > label {
  display: inline-block;
  width: 90%;
  font-weight: 500;
}

.radios > input {
  display: inline-block;
  width: 5%;
}

.input-label,
legend {
  font-size: 20px;
  font-weight: 700;
  color: var(--dark-blue);
}

.btns {
  width: 49%;
  height: 40px;
}

.btn-primary {
  background-color: var(--dark-blue);
  color: var(--light-tan);
  border: none;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: var(--light-tan);
  color: var(--dark-blue);
  border: 2px solid var(--dark-blue);
}

.btn-secondary {
  background-color: var(--light-tan);
  color: var(--dark-blue);
  border: 2px solid var(--dark-blue);
  font-weight: 600;
}

.btn-secondary:hover {
  background-color: var(--dark-blue);
  color: var(--light-tan);
  border: none;
}

@media only screen and (max-width: 600px) {
  .form {
    width: 350px;
  }

  .input-element {
    width: 75%;
  }

  .message-box {
    width: 275px;
  }
}

/* ===== MUSIC =====*/
.music {
  position: relative;
  padding: 2rem;
}

.section-subtitle {
  font-size: 1.5rem;
  text-align: center;
  color: var(--dark-blue);
}

.music-player-container {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.player-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 500px;
  width: 350px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 50px var(--red-orange);
}

#thumbnail {
  position: absolute;
  top: 0;
  height: 350px;
  width: 350px;
}

.box {
  position: absolute;
  height: 40%;
  width: 100%;
  background-color: var(--dark-grey);
  z-index: 4;
  bottom: -10%;
  display: grid;
  grid-template-columns: 45px 155px 75px;
  grid-template-rows: 85px 25px 25px;
  grid-template-areas:
    "one two two three"
    "four four four four"
    "five five five five";
  column-gap: 10px;
}

.play-pause {
  grid-area: one;
  padding-left: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.play-pause-button {
  width: 24px;
  height: 24px;
}

.fa-pause-circle {
  filter: invert(1);
  cursor: pointer;
  display: none;
}

#play,
#prev-track,
#next-track {
  filter: invert(1);
  cursor: pointer;
}

.music-info {
  grid-area: two;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}

#m-artist {
  color: var(--red-orange);
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
}

#m-title {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

.next-prev {
  grid-area: three;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.progress-bar {
  grid-area: four;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-grey);
}

#progressBar {
  height: 5px;
  background: white;
  width: 60%;
  border-radius: 30px;
}

.music-time {
  grid-area: five;
  display: flex;
  justify-content: space-around;
}

#currentTime {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: white;
}

#durationTime {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: var(--red-orange);
}

.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}
